<%= button_to 'Add new question' %>
<% @i = 1%>
<% @ques.each do |q| %>
<p>
<%= @i %>)
<%= q.textQuestion %>?
<br>
<% @ansMany = Answers.where(questions_id: [@i]) %>
<% @ansMany.each do |a| %>
<p>
<%= radio_button_tag name = @i, 'true', false %> <%= a.textAnswer %>
</p>
</p>
<% end %>
<% @i = @i + 1 %>
<% end %>
<%= button_to 'Save', { :action => 'ans', :controller => 'questions'}, :method => :post %>